.about-me-picture {
    width: 40vw;
    height: auto;
 
}

.about-me-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    border-left: 8px solid #4EFA37;
    width: 70%;
}

p {
    width: 50%;
    font-size: 1rem;
    color: #4EFA37;
    text-align: center;
}