.about-me-picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.about-me-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 8px solid #4EFA37;
    width: 77vw;
}

p {
    margin: 50px;
    margin-right: 100px;
    color: #4EFA37;
    text-align: center;
}