.projects {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects-title h1 {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;

}

.projects-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card-img-top {
    width: auto;
    height: 200px;

}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-body a {
    background-color: gray;
    border-color: gray;
}

.card-title {
    text-align: center;
}



