.about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.profile-title h1 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.profile-pic {
    
    justify-content: center;
}

.profile-pic img {
    width: auto;
    height: 350px;
}

.profile-text {
    text-align: center;
}

