.about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    align-items: center;
}

.profile-title h1 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.profile-pic {
    
    justify-content: center;
}

.profile-pic img {
    width: auto;
    height: 350px;
}

.profile-text-row  {
    height: auto;
    width:20rem;
    

    justify-content: center;
}

.profile-text {
    text-align: center;
}

.button-resume {
    margin-bottom: 50px;
    min-width: 5rem;
}

