.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EBEBEB;
    height: 30vh;
}

.contact-title h1 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.contact-icons {
    display: flex;
    width: 100vw;

    justify-content: center;
    
}

.contact-icons a {
    width: 50px;
    display: flex;
    margin: 10px;
    justify-content: center;
    
    
}

.contact-icons img {
    height: 50px;
    margin: 10px;
    cursor: pointer;
}
