.project-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    border-left: 8px solid #4EFA37;

    .card-img-top {
        align-self: center;
        height: 15rem;
    }

    .card {
        margin: 20px;
        border: 4px solid #121214;
        background-color: #121214;

        .card-body {
            background-color: #121214;
            display: flex;
            flex-direction: column;

            .card-title {
                text-align: center;
                color: #4EFA37;
                align-self: center;

            }

            .card-text {
                margin: 5px;
            }

            .btn-primary {
                background-color: #4EFA37;
                border-color: #4EFA37;
                color:#121214;

                &:hover {
                    background-color: #a79817;
                    border-color: #a79817;
                    transition: .3s;
                }
            }
        }        

    }

}

