@import url('https://fonts.googleapis.com/css2?family=Krub:wght@500&family=Oswald:wght@500&display=swap');

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #001219;
  font-family: 'Krub', sans-serif;
  -webkit-font-smoothing: antialiased;
  
}
